*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
:root{
    --main-color: #f53838;
    --second-color:#777;
}
body{
    font-family:sans-serif,Georgia, Arial, Helvetica, serif ; 
    transition: all 500s ease-in-out;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media(min-width:768px){
.container{
    width: 750px;
}
}

@media(min-width:991px){
    .container{
        width: 970px;
    }
    }

    @media(min-width:992px){
        .container{
            width: 970px;
        }
        }
        @media(min-width:1200px){
            .container{
                width: 1170px;
            }
        }

        /*end global roles*/

        /*start heading*/
        .header{
            background: white;
            -webkit-box-align: center;
        }
        .header .container{
            padding-top: 60px;
            padding-bottom: 60px;
            justify-content: space-between;
            align-items: center;
            display: block;
        }
        .header .container .head{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .header .container .head .logo{
            display: flex;
        }
        .header .container .head .logo img{
            width: 20px;
            margin-right: 12px;
        }
        .header .container .head .logo h2{
           
            
        }
        .header .container .head .logo span{
            
        }
        .header .container .head ul{
            display: contents;
            
        }
        .header .container ul li{
            list-style: none;
        }
        .header .container ul li .about:first-child{
           color: #f53838;
        }
        .header .container ul li a{
             color: #777; 
        }
        .header .container ul li a:hover{
            color: rgb(28, 28, 28);
         
        }
        .header .container .btn button{
            padding: .3125rem 2rem;
            border: none;
            background: none;
            font-size: 1rem;
        }
        .header .container button:first-child:hover{
               text-decoration: underline;
        }
        .header .container .btn .bn{
            padding: .3125rem 2rem;
            font-size: 1rem;
            border: 1px solid var(--main-color);
            border-radius: 20px;
            height: 2.5rem;
        }
       
        .header .container .btn .bn:hover{
            color: white;
            background-color: #F53838;
        }
        .header .container .head ul a{
            text-decoration: none;
        }

        @media (max-width:991px) {
            .header .container .head ul{
                display: none;
            }
            .header .container .btn button{
            display: none;
        }
        .header .container .icon .bx{
            display: block;
        }

    }
    .header .container .bx{
        color: #777;
        font-size: 43px;
        display: none;

    }
    .header .container .icon{
        width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }


        
    
        /*end header*/





/*section get-started"*/

    .get-started{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .get-started .container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    }
    .get-started .container .all-box{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    justify-content: center;
    text-align: center;
    }
    .get-started .container .all-box .right{
        flex: 1;
      
    }
    .get-started .container .all-box .right h1{
        text-align: center;
        font-size: 22px;
        font-weight: 600;
        justify-content: center;
        padding-bottom: 12px;
        
    }
    .get-started .container .all-box .right div{
        text-align: center;
    }
    .get-started .container .all-box .right p{
        text-align: center;
        color: var(--second-color);
    }
    @media (max-width:767px) {
       .get-started .container .all-box .right {width: 20rem;}
    }
    .get-started .container .all-box .left{
        flex: 1;
    }
    .get-started .container .left .image img{ 
        padding-bottom: 16px;
        width: 400px;
    }
    .get-started .container button{
        padding: .3125rem 3rem;
        font-size: 1.4rem;
        border: none;
        height: 3.5rem;
        margin-top: 34px;
        background: var(--main-color);
        border-radius: 10px;
        color: white;
    }
    @media (max-width:768px) {
        .get-started .container .all-box .right{
            text-align: left !important;
        }
        
    }

/*sectin numbers-box*/

.numbers{

}
.numbers .container{
    padding-top: 60px;
    padding-bottom: 60px;
    box-shadow: 0 8px 3px 0px #7777776b;
    background-color: white;
}
.numbers .number-boxs{
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    align-items: center;
    /* border-right: 1px solid #bec3d0 !important; */

}


.numbers .container .number-boxs i{
    font-size: 28px;
    box-shadow: 0 0 2px 13px #f538381c;
    COLOR: RED;
    background: #f538381c;
    border-radius: 11px;
}

@media (max-width:767px) {
    .numbers .number-boxs{
        text-align: center;
    }
    .numbers .number-boxs p{
        font-size: 13px;
    }
}
/*end*/
/*get started*/
.get-started{
    padding-top: 60x;
    padding-bottom: 60px;
}
.get-started .container .left h1{
    
    font-size: 31px;
    padding-bottom: 15px;
    font-weight: 100;
    text-align: left;
}



.get-started .container .left p{
    font-size: 19px;
    padding-bottom: 14px;
text-align: left;
color: var(--second-color);}

.get-started .container .left ul li{list-style: none;
    padding-bottom: 13px;
color: var(--second-color);}
.get-started .container .left ul{
    text-align: left;
    font-size: 21px;
    margin-left: .5rem !important;
}

@media (max-width:767px) {
.get-started .container .right img{
    width: 300px;
}    
.get-started .container .left ul{
    display: none;
}
.get-started .container .left h1{
    /* color: var(--second-color); */
    list-style: none;
    padding-bottom: 19px;
    text-align: left !important;
    letter-spacing: -0.3px;
    text-align: center;
}
.get-started .container .left p{
        font-size: 17px;
        padding-bottom: 14px;
    text-align: center;
color: var(--second-color);}
}







/**last section*/
/*pricing*/
.pricing{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #F6F6F6 !important;
    padding-top: 5rem !important;
}
.pricing .container .all-box{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 80px;
}
.pricing .container .heder{
    text-align: center;
}
.pricing .container .heder h2{
    padding-bottom: 12px;
    font-size: 33px;
   
}
.pricing .container .heder p{
    font-size: 21px;
    color:var(--second-color)
}
.pricing .container .all-box .box{
    background-color: #fff;
    text-align: center;
    margin-right: auto !important;
    margin-left: auto !important;

    border: 1px solid white;
    border-radius: 40px;
    box-shadow: 0 0 0px 1px #777;
    width: 21rem;
}
.pricing .container .all-box .images img{
    /* padding-bottom: 18px; */
    padding-top: 6rem;
}
.pricing .container .all-box p{
    padding-bottom: 3rem;
    font-size:30px
}
.pricing .container .all-box .images{
    padding-bottom: 25px;
}
.pricing .container .all-box hgroup{
    padding-bottom: 10rem;
    text-align: left !important;
    padding-left: 3rem;
}

.pricing .container .all-box .jj{
    padding-bottom: 251px;
    text-align: left !important;
    padding-left: 3rem;
}

.pricing .container .all-box h3{
    margin-bottom: 1rem !important;
    color: var(--second-color);
}

.pricing .container .all-box button{
    padding: .3125rem 2rem;
    font-size: 1rem;
    border: 1px solid var(--main-color);
    border-radius: 20px;
    height: 2.5rem;
    background: white;
    color: red;
}
.pricing .container .all-box .pre{
    background: var(--main-color);
    color: white;
    box-shadow: 0 0 28px -5px red;
    padding: .3125rem 2rem;
    font-size: 1rem;
    border: 1px solid var(--main-color);
    border-radius: 20px;
    height: 2.5rem;
}



/* .pricing .container .all-box div{
    padding-top: 57px;
} */
.pricing .container .all-box .senter{
    margin-top: -7rem !important;
    margin-bottom: 3rem !important;
   
}
.pricing .container .all-box h1{
    padding-bottom: 12px;
    
}
.pricing .container .all-box span{
    color: #777;
}
.pricing .container .all-box hgroup i{
    color: rgb(47, 171, 115);
    font-size: 27px;
    font-weight: bolder;
}
/*end p*/

/*footers*/
footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fa6a5b !important;
}
footer .container .all-box-f{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 80px;
}
footer .container .all-box-f .logo{
    padding-bottom: 14px;
    /* color: white; */
    padding-bottom: 13px;
    line-height: 1.6;
}
footer .container .all-box-f p{
    padding-bottom: 12px;
    
}
footer .container .all-box-f i{
    font-size: 25px;
    
}
footer .container .all-box-f i:hover{
    color: var(--second-color);
}
h5{
    padding-bottom: 12px;
  
}
footer .container .all-box-f .box-f .icon{
    padding-bottom: 12px;
}
footer .container .all-box-f .p{
    font-weight: bolder;
    font-size: 16px;
    
}
footer .container p:hover{
    color: var(--second-color);
}
footer .container h2{
    text-align: center;
    font-size: 15px;
    padding-top: 41px;
    padding-left:12px;
    
}
footer .container h2:hover{
    color: var(--second-color);
}
footer .container h1{
    padding-bottom: 15px;
}
footer .container h1:hover{
color: var(--second-color);
}
footer .container button{
    padding: .3125rem 2rem;
    font-size: 1rem;
    border: 1px solid var(--main-color);
    border-radius: 20px;
    height: 2.5rem;
    background: white;
    color: red;
}
footer .container button:hover{
    background-color: var(--main-color);
    transition: 0.4s;
    color: var(--second-color);
}
@media (max-width:767px) {
    footer .container button{
        margin-bottom: 13px;
        margin-left: 75px;
    }
    footer .container ul{
        display: none;
    }
}
footer .container ul li{
    list-style: none;
    padding-bottom: 12px;
}
footer .container ul li a{
    text-decoration: none;
    color: black;
}
footer .container ul li a:hover{
    color: var(--second-color);
}
hr{
    margin-bottom: 4px;
}
footer .container .logo{
    display: flex;
}
footer .container .logo img{
    width: 25px;
    padding-top: 33px;
}
/*end*/